@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url('./Images/header-shapes mobile@2x.svg');
  background-position: 30px 100px;
  background-repeat: no-repeat;
}

header {
  position: absolute;
  width: 375px;
  height: 92px;
}

nav {
  position: absolute;
  height: 48px;
  top: 44px;
  width: 375px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  align-self: center;
  position: absolute;
  height: 40px;
  left: 20px;
  top: calc(50% - 40px/2);
}

.logo-text {
  color: #6070ff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.hamburger-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: absolute;
  right: 24px;
  left: 330px;
  top: calc(50% - 40px/2);
  width: 40px;
  height: 40px;
  padding: 8px;

}

.hamburger-button {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 3;
  top: 6;
}

.intro-section {
  position: absolute;
  top: 152px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  width: 375px;
  height: 604px;
  gap: 12px;
  left: calc(50% - 375px / 2 + 2px);
}

.top-heading {
  display: flex;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.my-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connect-description {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.connect {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
  width: 114px;
  height: 24px;
}

.twitter {
  width: 19.99px;
  height: 19.96px;
}

.linkedin {
  width: 12.71px;
  height: 16.97px;
}

.medium {
  width: 20px;
  height: 16px;
}

.github {
  width: 17.99px;
  height: 20px;
}

.vector {
  width: 14.17px;
  height: 20px;
}

/* ============ section for works ========== */
.middle-section {
  position: absolute;
  top: 718px;
  left: calc(50% - 375px / 2 + 2px);
  display: grid;
  grid-template-rows: auto auto auto;
  justify-items: center;
  row-gap: 88px;
  width: 375px;
  height: 2788px;
  padding: 114px 24px;
}

/* first part of the section */
.first-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  background: #ffffff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.work-image {
  order: 0;
  width: 295px;
  height: 220px;
}

.details-container {
  order: 1;
  display: flex;
  flex-direction: column;
  width: 295px;
  height: 288px;
  gap: 12px;
}

.heading-and-highlights {
  display: flex;
  flex-direction: column;
}

.project-heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.highlights {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.project-type {
  order: -2;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.counter1 {
  order: -1;
  width: 8px;
  height: 8px;
}

.which-end {
  order: 0;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.counter2 {
  order: 1;
  width: 8px;
  height: 8px;
}

.project-year {
  order: 2;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.project-decription {
  width: 295px;
  height: 76px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.html {
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
}

.css {
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
}

.javascript {
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
}

.project-button {
  width: 295px;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.project-text {
  /* position: absolute; */
  width: 124px;
  height: 48px;
  padding: 12px;
  top: calc(50% - 48px/2);
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
}

/* ================ About Section ========================= */
.about-section {
  display: grid;
  grid-template-rows: auto auto;
  gap: 24px;
  position: absolute;
  top: 3506px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  width: 375px;
  height: 604px;
  left: calc(50% - 375px / 2 + 2px);
}

.about-myself {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about-heading {
  display: flex;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.about-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connect-container-about {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.connect-about {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  width: 114px;
  height: 24px;
}

.icon-about {
  padding: 8px 8px;
}

.twitter-about {
  width: 24px;
  height: 24px;
}

.linkedin-about {
  width: 24px;
  height: 24px;
}

.medium-about {
  width: 20px;
  height: 24px;
}

.github-about {
  width: 24px;
  height: 24px;
}

.vector-about {
  width: 24px;
  height: 24px;
}

.resume {
  width: 162px;
  height: 48px;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2
}

.skills {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 327px;
  height: 464.15px;
}

.languages-palceholder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 327px;
  height: 320.15px;
}

.languages-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 327px;
  height: 72px;
}

.lang-head-text {
  position: relative;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px/2);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.dropdown {
  position: relative;
  width: 24px;
  height: 24px;
  right: 46px;
  top: calc(50% - 40px/2);
  padding: 8px;
}

.dropdown-button {
  padding: 8px;
}

.languages-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 12px;
  width: 327px;
  height: 248.15px;
}

.lang-js {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
}

.js-frame {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 12px;
  top: calc(50% - 48px/2 - 0.36px);
}

.js-text {
  position: absolute;
  height: 24px;
  left: 76px;
  right: 12px;
  top: calc(50% - 24px/2 - 0.36px);
}

.lang-html {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
}

.html-frame {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 12px;
  top: calc(50% - 48px/2 - 0.36px);
}

.html-text {
  position: absolute;
  height: 24px;
  left: 76px;
  right: 12px;
  top: calc(50% - 24px/2 - 0.36px);
}

.lang-css {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
}

.css-frame {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 12px;
  top: calc(50% - 48px/2 - 0.36px);
}

.css-text {
  position: absolute;
  height: 24px;
  left: 76px;
  right: 12px;
  top: calc(50% - 24px/2 - 0.36px);
}

.frameworks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 327px;
  height: 72px;
  top: 320.15px;
}

.frameworks-heading {
  position: relative;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px/2);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.right-arrow {
  position: relative;
  width: 24px;
  height: 24px;
  right: 46px;
  top: calc(50% - 40px/2);
  padding: 8px;
}

.skills-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 327px;
  height: 72px;
  top: 392.15px;

}

.skills-heading {
  position: relative;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px/2);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
